ul {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 18vw;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

button:disabled {
    opacity: 0.1;
}

.card-title {
    margin: 7px 0;
    font-weight: 700;
}

.card-price {
    font-size: 0.8rem;
    margin: 7px 0;
}

li:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}