* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin-top: 20vh;
}

fieldset {
    text-align: center;
    width: 30vw;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
}

form button {
    padding: 8px;
    background-color: #0091ffe0;
    color: white;
    border: 2px solid #2c86c3;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form input {
    height: 20px;
    margin: 5px 15px;
}

legend {
    font-size: 1.5rem;
}

form button:hover {
    border: 2px solid white;
    box-shadow: 4px 4px 8px 0px rgb(25 93 122 / 69%);
}